.navbar {
    padding: 10px;
  }

  .navbar a {
    color:linen;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

   .logo {
    display: flex;
    flex-wrap: wrap;
    width: 150px; /* Adjust the width to the desired size */
    height: 150px; /* Maintain the aspect ratio */
    margin-right: 10px; /* Adjust the margin as needed */
  }

  .Slogan {
    flex: 1; /* Take up remaining space */
    font-size: 1.2rem; /* Adjust the font size as needed */
    margin: 0; /* Remove any default margins */
    white-space: nowrap; /* Prevent wrap, keep the slogan in a single line */
    overflow: hidden; /* Hide any overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
  }

  span {
    display: block;
    height: 2px;
    background: rgb(0, 102, 255);
  }