.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }

  
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 20px;
    color: #777;
  }
  
  .product-description {
    font-size: 16px;
    color: #2D190C;
    margin-top: 10px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .select-sort {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #0095dd;
    border-radius: 5px;
    background-color: #fff;
  }

  .categories {
    flex: 0 0 200px;
    padding: 20px;
    background-color: #582626;
  }
  
  .categories ul {
    list-style-type: none;
    padding: 0;
  }
  
  .categories li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .categories li:hover {
    background-color: #f0f0f0;
  }
 