
.product-container {
  display: flex;
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.product-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.product-price {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

.add-to-cart-button {
  background: #008000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart-button:hover {
  background: #006600;
}
